# Stats507 HW2

# Name: Li-Hsuan Lin

In [1]:
import numpy as np
import pandas as pd 
import statistics
import timeit

# Question 0 - Code review warmup

sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []

for m in range(len(sample_list)):
    li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][0] == sample_list[n][0] and
                    sample_list[m][3] != sample_list[n][3]):
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[3], reverse=True)[0])
res = list(set(op))

## a

The snippet of code take a list of tuples and return a list of distinct tuples of which, considering the tuples with the first same element, the tuple with maximum third element would be contained in the returned list

## b

There are a couple ways to make the snippet of code more readable and pythonic.

1. Instead of using "for m in range(len(sample_list))", it is more pythonic to use "for m in sample_list" (iterate thru item in a list rather than thru index and then use index to access item)

2. The indentation is incorrect. The entire second for loop should have the same indentation as the "li = [sample_list[m]]"
3. In sorted function, maybe it's good idea to use more readable lambda variable instead of "dd"

# Question 1 - List of Tuples

Write a function that uses NumPy and a list comprehension to generate a random list of n k-tuples 
containing integers ranging from low to high. Choose an appropriate name for your function, 
and reasonable default values for k, low, and high.

Use assert to test that your function returns a list of tuples.

In [2]:
def randList_generator(n, k=3, low=0, high=20):
    """uses NumPy and a list comprehension to generate a random list of n k-tuples 
       containing integers ranging from low to high"""
    randList = [tuple(sorted(np.random.choice(range(low,high), size=k,replace=False))) for _ in range(n)]
    return (randList)

In [3]:
randList = randList_generator(5, k=3, low=0, high=12)

# assert it is a list
assert(isinstance(randList, list))

# assert list contains only tuples
for item in randList:
    assert(isinstance(item, tuple))

# Question 2 - Refactor the Snippet

Encapsulate the code snippet from the warmup into a function that parameterizes the role of 0 and 3 and is otherwise unchanged. Choose appropriate names for these paramters.

## a

In [4]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []

In [5]:
# use first index and second index to parameterizes

def refactor_partA(sample_list, first_idx, second_idx):
    """parameterizes the role of 0 and 3 in snippert and otherwise unchanged"""
    op = []
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][first_idx] == sample_list[n][first_idx] and 
                sample_list[m][second_idx] != sample_list[n][second_idx]):
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[second_idx], reverse=True)[0])
    res = list(set(op))
    return (res)

## b

In [6]:
def refactor_partB(sample_list, first_idx, second_idx):
    """parameterizes the role of 0 and 3 in snippert and use code review suggestion"""
    op = []
    for m in sample_list:
        li = [m]
        for n in sample_list:
            if m[first_idx] == n[first_idx] and m[second_idx] != n[second_idx]:
                li.append(n)
        op.append(sorted(li, key=lambda item: item[second_idx], reverse=True)[0])
    res = list(set(op))
    return (res)

## same result from partA and partB

In [7]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8),(1,2,5),(0,1,5),(3,6,8),(0,1,7)]
assert(refactor_partA(sample_list,0, 2) == refactor_partB(sample_list,0, 2))

## C

In [8]:
def refactor_partC(sample_lst, first_idx, second_idx):
    """Same function as the snippet of code above. 
       traverse the input list of tuples no more than twice."""
    
    refactor_dict = {} # key: first elem, value: a tuple
    se = set()
    
    # traverse once 
    for item in sample_lst:
        curr_first_elem = item[first_idx]
        curr_second_elem = item[second_idx]
        
        # if the dictionary is empty
        if curr_first_elem not in refactor_dict:
            refactor_dict[curr_first_elem] = item
        else:
            # if the second element is greater than that stored in the dictionary
            if curr_second_elem > refactor_dict[curr_first_elem][second_idx]:
                refactor_dict[curr_first_elem] = item
                
    # traverse list again to replace list item            
    for item in sample_lst:
        first_elem = item[first_idx]
        item_max = refactor_dict[first_elem]
        
        se.add(item_max)
    
    li = list(se)
        
    return li

# d

I use 100 replications to run functions A, functions B, functions C. In each replication, a list with 30 tuples with length 3 is generated, and each function (A, B, C) is ran 1000 times. The mean of the runtime is given in the dataframe in the end.

In [9]:
runtime_a, runtime_b, runtime_c = [],[],[]

for _ in range(100):
    randLst = randList_generator(30, k=3, low=0, high=40)
    
    funcA_time = timeit.timeit(lambda: refactor_partA(randLst,0,2),number = 1000)
    funcB_time = timeit.timeit(lambda: refactor_partB(randLst,0,2),number = 1000)
    funcC_time = timeit.timeit(lambda: refactor_partC(randLst,0,2),number = 1000)
    
    runtime_a.append(funcA_time)
    runtime_b.append(funcB_time)
    runtime_c.append(funcC_time)

In [10]:
mean_runtimeA = sum(runtime_a)/len(runtime_a)
mean_runtimeB = sum(runtime_b)/len(runtime_b)
mean_runtimeC = sum(runtime_c)/len(runtime_c)

In [11]:
d = {'mean runtime': [mean_runtimeA, mean_runtimeB, mean_runtimeC]}
df = pd.DataFrame(data=d,index=['function A','function B', 'function C'])
df

            mean runtime
function A      0.272663
function B      0.198917
function C      0.019943

## Use assert to test three functions have the same output

In [12]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8),(1,2,5),(0,1,5),(3,6,8),(0,1,7)]
assert(refactor_partA(sample_list,0, 2) == refactor_partB(sample_list,0, 2) == refactor_partC(sample_list,0, 2))

In [13]:
randLst_1 = randList_generator(10, k=3, low=0, high=40)
randLst_2 = randList_generator(20, k=3, low=0, high=40)


assert(refactor_partA(randLst_1,0, 2) == refactor_partB(randLst_1,0, 2) == refactor_partC(randLst_1,0, 2))
assert(refactor_partA(randLst_2,0, 2) == refactor_partB(randLst_2,0, 2) == refactor_partC(randLst_2,0, 2))

# Question 3

## a

In [14]:
# load the datasets
dat_g = pd.read_sas("DEMO_G.XPT")
dat_h = pd.read_sas("DEMO_H.XPT")
dat_i = pd.read_sas("DEMO_I.XPT")
dat_j = pd.read_sas("DEMO_J.XPT")

# Add an additional column identifying to which cohort each case belongs
dat_g['cohort'] = '11-12'
dat_h['cohort'] = '13-14'
dat_i['cohort'] = '15-16'
dat_j['cohort'] = '17-18'

# append multiple dataframes to one
frames = [dat_g, dat_h,dat_i,dat_j]
pd_all = pd.concat(frames)

In [15]:
# subset columns
df_all = pd_all[["cohort","SEQN","RIDAGEYR","RIDRETH3","DMDEDUC2",
               "DMDMARTL","RIDSTATR","SDMVPSU","SDMVSTRA","WTMEC2YR",
               "WTINT2YR"]]

In [16]:
# turn off pandas chained assignment
pd.options.mode.chained_assignment = None 

# create a list that has the categorical datatype columns
categpry_cols = ['cohort','SEQN','RIDRETH3','DMDEDUC2','DMDMARTL']

# create a list that has the integer datatype columns
integer_cols = ['RIDAGEYR','RIDSTATR','SDMVPSU','SDMVSTRA']

# use for loops tp convert the data to category type and int32 type
for col in categpry_cols:
    df_all[col] = df_all[col].astype('category')
for col in integer_cols:
    df_all[col] = df_all[col].astype('int64')

In [17]:
# display dataframe datatypes
df_all.dtypes

cohort      category
SEQN        category
RIDAGEYR       int64
RIDRETH3    category
DMDEDUC2    category
DMDMARTL    category
RIDSTATR       int64
SDMVPSU        int64
SDMVSTRA       int64
WTMEC2YR     float64
WTINT2YR     float64
dtype: object

In [18]:
# rename columns to literal name
df_all.rename(columns={'SEQN': 'id', 
                   'RIDAGEYR': 'age',
                   'RIDRETH3':'race and ethnicity',
                   'DMDEDUC2':'education',
                   'DMDMARTL':'marital status'
                    }, inplace=True)

In [19]:
# save dataframe to pickle format
df_all.to_pickle("nhanes.pkl")

## b

In [2]:
# load the datasets
dat_teeth_g = pd.read_sas("OHXDEN_G.XPT")
dat_teeth_h = pd.read_sas("OHXDEN_H.XPT")
dat_teeth_i = pd.read_sas("OHXDEN_I.XPT")
dat_teeth_j = pd.read_sas("OHXDEN_J.XPT")

# create a column to identify to which cohort each case belongs.
dat_teeth_g['cohort'] = '11-12'
dat_teeth_h['cohort'] = '13-14'
dat_teeth_i['cohort'] = '15-16'
dat_teeth_j['cohort'] = '17-18'

# concatenate 4 dataframes to one dataframe
frames = [dat_teeth_g, dat_teeth_h,dat_teeth_i,dat_teeth_j]
pd_teeth_all = pd.concat(frames)

C:\Users\l6040\anaconda3\envs\stats\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v
C:\Users\l6040\AppData\Local\Temp/ipykernel_17716/2382609499.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dat_teeth_g['cohort'] = '11-12'
C:\Users\l6040\AppData\Local\Temp/ipykernel_17716/2382609499.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dat_teeth_h['cohort'] = '13-14'
C:\Users\l6040\AppData\Local\Temp/ipykernel_17716/2382609499.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dat_teeth_i['cohort'] = '15-16'
C:\Users\l6040\AppData\Local\Temp/ipykernel_17716/2382609499.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dat_teeth_j['cohort'] = '17-18'

In [4]:
# save dataframe to pickle format
pd_teeth_all.to_pickle("nhanes_teeth.pkl")

In [21]:
# display one row
pd_teeth_all.tail(1)

,SEQN,OHDEXSTS,OHDDESTS,OHXIMP,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,...,OHX26RSC,OHX27RSC,OHX28RSC,OHX29RSC,OHX30RSC,OHX31RSC,OHXRCAR,OHXRCARO,OHXRRES,OHXRRESO
8365,102956.0,1.0,1.0,2.0,4.0,4.0,2.0,2.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',1.0,2.0,1.0,2.0

In [22]:
# Use regex to subset columns
df_subset = pd_teeth_all.filter(regex='(cohort)|(SEQN)|(OHDDESTS)|(OHX)[0-9]{2}(TC)|(OHX)[0-9]{2}(CTC)')

In [23]:
# turn off pandas chained assignment
pd.options.mode.chained_assignment = None 

# create a list that contains "CTC" in a column name
ctc_col = [i for i in df_subset.columns if "CTC" in i]

# create a list that has the categorical datatype columns
categpry_cols = ['cohort','SEQN'] + ctc_col

# create a list that has the integer datatype
integer_cols = [i for i in df_subset.columns if i not in categpry_cols]

In [24]:
# fill the missing values to -1
df_subset = df_subset.fillna(-1)

# use for loops tp convert the data to category type and int32 type
for col in categpry_cols:
    df_subset[col] = df_subset[col].astype('category')
for col in integer_cols:
    df_subset[col] = df_subset[col].astype('int')

In [25]:
# display datatypes
df_subset.dtypes

SEQN        category
OHDDESTS       int32
OHX01TC        int32
OHX02TC        int32
OHX03TC        int32
              ...
OHX28CTC    category
OHX29CTC    category
OHX30CTC    category
OHX31CTC    category
cohort      category
Length: 63, dtype: object

In [26]:
# rename the column names
df_subset.rename(columns={'SEQN': 'id'}, inplace=True)
df_subset.head(1)

# save it to pickle format
df_subset.to_pickle("tooth.pkl")

## C

demographic dataset: 39156 rows

In [27]:
df_all.shape[0]

39156

oral health and dentition dataset: 35909 rows

In [28]:
df_subset.shape[0]

35909

In [3]:
# load the datasets
dat_g = pd.read_sas("DEMO_G.XPT")
dat_h = pd.read_sas("DEMO_H.XPT")
dat_i = pd.read_sas("DEMO_I.XPT")
dat_j = pd.read_sas("DEMO_J.XPT")

# Add an additional column identifying to which cohort each case belongs
dat_g['cohort'] = '11-12'
dat_h['cohort'] = '13-14'
dat_i['cohort'] = '15-16'
dat_j['cohort'] = '17-18'

# append multiple dataframes to one
frames = [dat_g, dat_h,dat_i,dat_j]
pd_all = pd.concat(frames)

# subset columns
df_all = pd_all[["cohort","SEQN","RIDAGEYR","RIDRETH3","DMDEDUC2",
               "DMDMARTL","RIDSTATR","SDMVPSU","SDMVSTRA","WTMEC2YR",
               "WTINT2YR", "RIAGENDR"]]

# turn off pandas chained assignment
pd.options.mode.chained_assignment = None 

# create a list that has the categorical datatype columns
categpry_cols = ['cohort','SEQN','RIDRETH3','DMDEDUC2','DMDMARTL','RIAGENDR']

# create a list that has the integer datatype columns
integer_cols = ['RIDAGEYR','RIDSTATR','SDMVPSU','SDMVSTRA']

# use for loops tp convert the data to category type and int32 type
for col in categpry_cols:
    df_all[col] = df_all[col].astype('category')
for col in integer_cols:
    df_all[col] = df_all[col].astype('int64')
    
df_all.rename(columns={'SEQN': 'id', 
                   'RIDAGEYR': 'age',
                   'RIDRETH3':'race and ethnicity',
                   'DMDEDUC2':'education',
                   'DMDMARTL':'marital status',
                   'RIAGENDR':'gender'
                    }, inplace=True)

# save dataframe to pickle format
df_all.to_pickle("nhanes_gender.pkl")